.AboutPage {
  margin: 20px;

  p {
    margin: 10px;
    text-align: left;
  }
  .description {
    font-size: 1.4em;
  }
  .attribution {
    font-size: 1.2em;
  }
  img {
    width: 300px;
    margin-top: 20px;
  }

  @media(max-width: 550px) {
    .description {
      font-size: 1.2em;
    }
    .attribution {
      font-size: 1.1em;
    }
    img {
      width: 200px;
    }
  }

  @media(max-width:400px) {
    .description {
      font-size: 1.1em;
    }
  }
}