.IndividualMovie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  height: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
  border-radius: 5px;
  margin: 20px 0;
  overflow: hidden;

  .UserRating {
    margin: 10px 0;
  }

  .movie-graphics {
    width: 48%;
  }
  .movie-text {
    margin: auto 0;
    width: 48%;
  }
  
  .movie-poster {
    width: 200px;
  }
  .no-poster {
    &:hover {
      text-decoration: none;
    }
    padding: 60px 0;
    color: grey;
  }
  .description {
    text-align: left;
  }
  .title {
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  @media (max-width: 410px) {
    width: auto;
    margin: 15px 10px;
    padding: 10px;
    .movie-graphics {
      width: 100%;
    }
    .movie-text {
      width: 100%;
    }
  }
}

